.popup {
  /* display: none; */
  background-color: #ffffff;
  width: 430px;
  border-radius: 10px;
  position: absolute;
  top: 160px;
  left: 375px;
}

.popup__button-closed {
  top: -40px;
  right: -40px;
  cursor: pointer;
  position: absolute;
}

.popup__button-closed:hover {
  opacity: 50%;
}

.popup__form {
  display: flex;
  flex-direction: column;
}

.popup__header {
  font-size: 24px;
  line-height: 29.05px;
  font-weight: 900;
  margin: 34px 0 0 36px;
}

.popup_name {
  max-width: 358px;
  border: none;
  border-bottom: 1px solid #000000;
  font-size: 14px;
  line-height: 16.94px;
  font-weight: 400;
  padding: 0px 0 10px;
  margin: 54px 0 0 36px;
}

.popup__description {
  max-width: 358px;
  border: none;
  border-bottom: 1px solid #000000;
  padding: 0px 0 10px;
  font-size: 14px;
  line-height: 16.94px;
  font-weight: 400;
  margin: 30px 0 0 36px;
}

.popup__button-create {
  font-size: 18px;
  line-height: 21.78px;
  font-weight: 400;
  background-color: black;
  color: #ffffff;
  max-width: 358px;
  margin: 48px 36px 36px;
  padding: 15px 0;
  border-radius: 5px;
  cursor: pointer;
}

.popup__button-create:hover {
  opacity: 80%;
}
